/* Start asidebar */
.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  height: calc(100vh - 63px);
  overflow-y: auto;
  overflow-x: hidden;

  .line {
    height: 35px;
    width: 1px;
    background-color: black;
    margin: auto;
    min-height: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  // Custom Scrollbar
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #242c2b;
  }

  .footer {
    background-color: rgb(72 116 111);
    padding-top: 35px;

    .points {
      margin: 0;
      text-align: center;
    }

    .darkSquare {
      width: 35px;
      height: 11px;
      margin: auto;
      margin-top: 20px;
      background-color: #3d5653;
      padding: 0;
      border-radius: 5px 5px 0 0;
    }

    .li-circule-color {
      width: 16px;
      height: 16px;
      margin: auto;
      cursor: pointer;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      &:not(:last-of-type) {
        margin-bottom: 6px;
      }
    }
  }
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 1;
  width: 90px;

  &.expanded {
    width: 150px;

    .toggle {
      i {
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
      }
    }

    .link {
      animation-name: linkFrames;
      animation-duration: 1.2s;
      animation-fill-mode: forwards;

      .content-link {
        width: 70px !important;

        .title {
          animation-name: titleFrames;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          opacity: 0;
          position: absolute;
          white-space: nowrap;
          width: 50%;
          left: 15px;
          margin-top: 0 !important;
        }
      }
    }

    .header {
      .logo {
        margin-right: 0px;
      }

      .chevron {
        margin-right: 0px;

        &::before {
          transform: rotate(-135deg);
        }
      }
    }
  }

  color: white;

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;

    .logo {
      font-size: 20px;
      margin: 0;
    }

    .toggle {
      width: 39px;
      height: 39px;
      position: absolute;
      left: -39px;
      top: 10px;
      cursor: pointer;
      border-radius: 10px 0 0 10px;
      font-size: 30px;
    }
  }

  .content {
    margin-top: 35px;

    .link {
      cursor: pointer;

      &:hover {
        background-color: rgba(72, 116, 111, 1.5);
      }

      &.active {
        background-color: rgba(72, 116, 111, 1.5);
      }

      padding: 6px 0;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      .content-link {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 90px;

        .icon {
          border-radius: 5px;
          text-align: center;
          line-height: 29px;
          font-size: 1.5rem;

          &.house {
            width: 32px;
            height: 32px;
            font-size: 1.1rem;
            color: white;
          }
        }

        .title {
          overflow: hidden;
          font-size: .7rem;
          margin-top: 8px;
        }
      }
    }
  }

}

.points {
  position: absolute;
  left: 13px;
  top: 12px;

  li {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 10px;
  }

  li:not(:last-of-type) {
    margin-bottom: 3px;
  }
}

/* End asidebar */