.navbar {
  background-color: white !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  height: 75px;

  .container-fluid {
    padding: 0 35px;
  }
}

.icon-header {
  width: 35px;
  height: 35px;
  display: block;
  padding: 0;
  text-align: center;
  position: relative;
  background-color: rgba(150, 199, 254, 0.3);
  border-radius: 5px;
  font-size: 19px;
  line-height: 35px;
  color: #3D5653;

  .number-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #81DA6B;
    color: white;
    font-size: 9px;
    line-height: 15px;
  }
}

.btn-search {
  width: 35px;
  min-width: 35px;
  height: 35px;
  text-align: center;
  padding: 0;
  color: white;
  font-size: 19px;
}

.li-item:not(:last-of-type) {
  margin-left: 10px;
}

.form-hide-width {
  .btn-search {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
  }

  .search-header {
    width: 0;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
  }
}

/* Start Custom Breadcrumb */
.breadcrumb {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0
}

.breadcrumb-item {
  a {
    color: #5e5e5e;
    text-decoration: auto;
  }

  &.active {
    a {
      color: #3A3A3A;
    }
  }
}

.breadcrumb-item+.breadcrumb-item::before {
  float: right;
  padding: 0 5px;
}

/* End Custom Breadcrumb */
/* Start body */
.body {
  padding: 0 35px;
}

/* End body */