<div class="content-home">
  <div class="header-home d-flex justify-content-between align-items-center">
    <h2 class="title m-0">بيانات العقد</h2>
    <div class="actions-header-home design-buttons">
      <button class="btn basic-button btn-BD">
        <i class="fa-solid fa-plus"></i>
        <span class="btn-txt">انشاء عقد جديد</span>
      </button>
      <button class="btn basic-button btn-TT">
        <i class="fa-solid fa-code-pull-request"></i>
        <span class="btn-txt">طلب عقد خارجي</span>
      </button>
    </div>
  </div>
  <div class="contractStatus">
    <span class="title">
      <i class="fa-solid fa-info i-BG"></i>
      حاله العقد :
    </span>
    <span class="des">
      مفتوح
    </span>

  </div>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>عقد الايجار</a>
      <ng-template ngbNavContent>
        <p>
          Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
          keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
          salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        </p>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>الدفعات</a>
      <ng-template ngbNavContent>
        <div class="head-navContent">
          <div class=" design-buttons d-inline-block">
            <button class="btn basic-button btn-BD">
              <i class="fa-solid fa-lock"></i>
              <span class="btn-txt">اغلاق عقد</span>
            </button>
            <button class="btn basic-button btn-TT btn-TT-Pantone">
              <i class="fa-solid fa-print"></i>
              <span class="btn-txt">طلب عقد خارجي</span>
            </button>
            <button class="btn basic-button btn-TT">
              <i class="fa-regular fa-pen-to-square"></i>
              <span class="btn-txt">تعديل </span>
            </button>
            <button class="btn basic-button btn-TT">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
              <span class="btn-txt">مطالبة </span>
            </button>
            <button class="btn basic-button btn-TT">
              <i class="fa-solid fa-gavel"></i>
              <span class="btn-txt">مطالبة بالتعقيب </span>
            </button>
          </div>
        </div>
        <div class="body-navContent">
          <div class="row">
            <div class="section-1 col-12 col-xl-8">
              <div class="table-responsive">
                <table class="table  table-borderles">
                  <thead>
                    <tr>
                      <th scope="col">تاريخ لإضافة </th>
                      <th scope="col">نوع الدفعة</th>
                      <th scope="col">القيمة</th>
                      <th scope="col">نوع السداد</th>
                      <th scope="col">الموظف</th>

                      <th scope="col"></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>17-12-2022</td>
                      <td>تحت الحساب</td>
                      <td>500 ر.س</td>
                      <td>شيكات</td>
                      <td>1012</td>
                      <td>

                        <div ngbDropdown class="d-inline-block dropdown-Goldenrod">
                          <button type="button" class="btn " id="dropdownBasic1" ngbDropdownToggle>
                            <i class="fa-solid fa-print"></i>
                          </button>
                          <div class="collapse navbar-collapse" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="print()">print 1</button>
                            <button ngbDropdownItem>print 2</button>
                            <button ngbDropdownItem>print 3</button>
                          </div>
                        </div>
                        <div class="arrow-left">
                          <i class="fa-solid fa-chevron-left"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>17-12-2022</td>
                      <td>تحت الحساب</td>
                      <td>500 ر.س</td>
                      <td>شيكات</td>
                      <td>1012</td>
                      <td>
                        <div ngbDropdown class="d-inline-block dropdown-Goldenrod">
                          <button type="button" class="btn " id="dropdownBasic1" ngbDropdownToggle>
                            <i class="fa-solid fa-print"></i>
                          </button>
                          <div class="collapse navbar-collapse" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="print()">print 1</button>
                            <button ngbDropdownItem (click)="print()">print 2</button>
                            <button ngbDropdownItem (click)="print()">print 3</button>
                          </div>
                        </div>
                        <div class="arrow-left">
                          <i class="fa-solid fa-chevron-left"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>17-12-2022</td>
                      <td>تحت الحساب</td>
                      <td>500 ر.س</td>
                      <td>شيكات</td>
                      <td>1012</td>
                      <td>
                        <div ngbDropdown class="d-inline-block dropdown-Goldenrod">
                          <button type="button" class="btn " id="dropdownBasic1" ngbDropdownToggle>
                            <i class="fa-solid fa-print"></i>
                          </button>
                          <div class="collapse navbar-collapse" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="print()">print 1</button>
                            <button ngbDropdownItem (click)="print()">print 2</button>
                            <button ngbDropdownItem (click)="print()">print 3</button>
                          </div>
                        </div>
                        <div class="arrow-left">
                          <i class="fa-solid fa-chevron-left"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>17-12-2022</td>
                      <td>تحت الحساب</td>
                      <td>500 ر.س</td>
                      <td>شيكات</td>
                      <td>1012</td>
                      <td>
                        <div ngbDropdown class="d-inline-block dropdown-Goldenrod">
                          <button type="button" class="btn " id="dropdownBasic1" ngbDropdownToggle>
                            <i class="fa-solid fa-print"></i>
                          </button>
                          <div class="collapse navbar-collapse" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="print()">print 1</button>
                            <button ngbDropdownItem (click)="print()">print 2</button>
                            <button ngbDropdownItem (click)="print()">print 3</button>
                          </div>
                        </div>
                        <div class="arrow-left">
                          <i class="fa-solid fa-chevron-left"></i>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-navContent">
                <div class="row">
                  <div class="li-group col-12 col-lg-6">
                    <label for="basic-url" class="form-label">تاريخ لإضافة</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" (click)="d.toggle()" name="dp"
                        [(ngModel)]="model" ngbDatepicker [footerTemplate]="footerTemplate" #d="ngbDatepicker" />
                    </div>
                    <ng-template #footerTemplate>
                      <hr class="my-0" />
                      <button class="btn btn-primary btn-sm m-2 float-start"
                        (click)="model = today; d.close()">اليوم</button>
                      <button class="btn btn-secondary btn-sm m-2 float-end" (click)="d.close()">اغلاق</button>
                    </ng-template>
                  </div>
                  <div class="li-group col-12 col-lg-6">
                    <label for="basic-url" class="form-label">فرع استلام الدفعه</label>
                    <div class="input-group mb-3">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>اختر فرع استلام الدفعة</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                  <div class="li-group col-12 col-lg-6">
                    <label for="basic-url" class="form-label">نوع الدفعه</label>
                    <div class="input-group mb-3">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>اختر نوع الدفعة</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                  <div class="li-group col-12 col-lg-6">
                    <label for="basic-url" class="form-label">نوع العملية</label>
                    <div class="input-group mb-3">
                      <select class="form-select" aria-label="Default select example">
                        <option selected> اختر نوع العملية</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                  <div class="li-group col-12 col-lg-6">
                    <label for="basic-url" class="form-label">وصف السداد</label>
                    <div class="input-group mb-3">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>اختر نوع الدفعة</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                  <div class="li-group col-12 col-lg-6">
                    <label for="basic-url" class="form-label">الماكينة</label>
                    <div class="input-group mb-3">
                      <select class="form-select" aria-label="Default select example">
                        <option selected> اختر نوع العملية</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="asidebar-navcontent col-12 col-xl-4">
              <div class="content-side-nav">
                <div class="head">
                  <button class="btn basic-button btn-TT btn-TT-Pantone">
                    <i class="fa-solid fa-print"></i>
                    <span class="btn-txt">طباعة الفاتورة</span>
                  </button>
                </div>
                <div class="group-collapses">
                  <div class="li-collapse">
                    <button type="button" *ngIf="loading" class="btn btn-select-aside" (click)="collapseOne.toggle()"
                      [attr.aria-expanded]="!true" aria-controls="collapseExample"
                      [class.arrowActive]="!collapseOne.collapsed">
                      بيانات عامة
                    </button>
                    <div #collapseOne="ngbCollapse" [ngbCollapse]="true">
                      <div class="card">
                        <div class="card-body">You can collapse this card by clicking one Toggle button</div>
                      </div>
                    </div>
                  </div>
                  <div class="li-collapse">
                    <button type="button" *ngIf="loading" class="btn btn-select-aside" (click)="collapseTwo.toggle()"
                      [attr.aria-expanded]="!true" aria-controls="collapseExample"
                      [class.arrowActive]="!collapseTwo.collapsed">
                      تكاليف
                    </button>
                    <div #collapseTwo="ngbCollapse" [ngbCollapse]="true">
                      <div class="card">
                        <div class="card-body">You can collapse this card by clicking one Toggle button</div>
                      </div>
                    </div>
                  </div>
                  <div class="li-collapse">
                    <button type="button" *ngIf="loading" class="btn btn-select-aside" (click)="collapseThree.toggle()"
                      [attr.aria-expanded]="!true" aria-controls="collapseExample"
                      [class.arrowActive]="!collapseThree.collapsed">
                      فاتورة
                    </button>
                    <div #collapseThree="ngbCollapse" [ngbCollapse]="true">
                      <div class="card">
                        <div class="card-body">You can collapse this card by clicking one Toggle button</div>
                      </div>
                    </div>
                  </div>
                  <div class="li-collapse">
                    <button type="button" *ngIf="loading" class="btn btn-select-aside" (click)="collapseFour.toggle()"
                      [attr.aria-expanded]="!true" aria-controls="collapseExample"
                      [class.arrowActive]="!collapseFour.collapsed">
                      ملخص للفاتورة
                    </button>
                    <div #collapseFour="ngbCollapse" [ngbCollapse]="false">
                      <div class="card">
                        <div class="card-body">
                          <ul class="list-unstyled p-0 p-0 show-description-colps">
                            <li class="li-colps d-flex justify-content-between">
                              <span class="title">سعر السيارة</span>
                              <span class="desc">300 ر.س</span>
                            </li>
                            <li class="li-colps d-flex justify-content-between li-colps-hide">
                              <span class="title">خصومات</span>
                              <span class="desc"></span>
                            </li>
                            <li class="li-colps d-flex justify-content-between">
                              <span class="title">خصم اداري</span>
                              <span class="desc">0 ر.س</span>
                            </li>
                            <li class="li-colps d-flex justify-content-between">
                              <span class="title">قيمة الخصم - نقاط</span>
                              <span class="desc">0 ر.س</span>
                            </li>
                            <li class="li-colps d-flex justify-content-between">
                              <span class="title">قيمة الخصم - كود خصم</span>
                              <span class="desc">25 ر.س</span>
                            </li>
                            <li class="li-colps d-flex justify-content-between">
                              <span class="title">الخصومات الكلية</span>
                              <span class="desc">300 ر.س</span>
                            </li>
                          </ul>
                          <ul class="list-unstyled p-0 p-0 show-description-colps">
                            <li class="li-colps d-flex justify-content-between">
                              <span class="title">السعر بعد الخصم</span>
                              <span class="desc">275 ر.س</span>
                            </li>
                            <li class="li-colps d-flex justify-content-between li-colps-hide">
                              <span class="title">سداد ودفعات</span>
                              <span class="desc"></span>
                            </li>
                            <li class="li-colps d-flex justify-content-between">
                              <span class="title">أمانات مخالفات</span>
                              <span class="desc">0 ر.س</span>
                            </li>
                            <li class="li-colps d-flex justify-content-between">
                              <span class="title">قيمة الخصم - نقاط</span>
                              <span class="desc">0 ر.س</span>
                            </li>
                            <li class="li-colps d-flex justify-content-between">
                              <span class="title">قيمة الخصم - كود خصم</span>
                              <span class="desc">25 ر.س</span>
                            </li>
                            <li class="li-colps d-flex justify-content-between">
                              <span class="title">الخصومات الكلية</span>
                              <span class="desc">300 ر.س</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>تكاليف اضافية</a>
      <ng-template ngbNavContent>
        <p>
          Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
          facilisi.
          Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et
          odio.
          Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam
          urna,
          egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
          tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
          neque. Phasellus nec tortor vel tellus pulvinar feugiat.
        </p>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink>خصومات</a>
      <ng-template ngbNavContent>
        <p>
          Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
          facilisi.
          Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et
          odio.
          Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam
          urna,
          egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
          tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
          neque. Phasellus nec tortor vel tellus pulvinar feugiat.
        </p>
      </ng-template>
    </li>
    <li [ngbNavItem]="5">
      <a ngbNavLink>الفواتير الصادرة</a>
      <ng-template ngbNavContent>
        <p>
          Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
          facilisi.
          Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et
          odio.
          Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam
          urna,
          egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
          tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
          neque. Phasellus nec tortor vel tellus pulvinar feugiat.
        </p>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>